.frames h2{
    
    background-color: #113f51;  
}
.frames {
    flex: 1;
    background-color: #f4f7f9;
    padding: 10px;
}

.frames iframe {
    width: 100%;
    height: 100%;
        border: none;
        border-radius: 10px;
    background: white;
}
