/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

/* BACKGROUND */
.back {
    min-height: 100vh;
    background: linear-gradient(135deg, #32a87f, #0b4f6c);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* LOGIN CARD */
.login-card {
    background: rgb(167, 225, 204);
    padding: 40px 35px;
    width: 360px;
    border-radius: 18px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
    text-align: center;
}


.login-card h2 {
    font-size: 26px;
    margin-bottom: 8px;
    color: #111213;
}

.login-card p {
    font-size: 12px;
    color: #555;
    margin-bottom: 25px;
}


.input-group {
    text-align: left;
    margin-bottom: 18px;
}

.input-group label {
    font-size: 14px;
    color: #444;
    margin-bottom: 6px;
    display: block;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.input-group input:focus {
    outline: none;
    border-color: #32a87f;
}

/* BUTTON */
.btn {
    width: 100%;
    padding: 12px;
    background: #136d90;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.btn:hover {
    background: #0b4f6c;
}
.hr-text{
   display:flex;
    align-items:center;
    text-align:center;
    margin:20px 0;
}
.hr-text::before,.hr-text::after{
    content:'';
    flex:1;
    border-bottom:1px solid #999;
}
.hr-text span{
    padding:0 10px;
    color:#555;
    font-size:14px;
    font-weight:bold;
}
.forgot-password{
    text-align:left;
    margin-top:8px;

}
.forgot-password a{
    font-size:13px;
    color:#555;
    
}
/* MOBILE RESPONSIVE */
@media (max-width: 480px) {
    .login-card {
        width: %;
        padding: 30px;
    }
}
